<div class="auth-wrapper">
  <div class="auth-card">
    <h2>Forgot Password</h2>
    <p class="subtitle">Enter your email and we'll send you a link to reset your password.</p>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="input-group">
        <input
          type="email"
          placeholder="Email Address"
          formControlName="email"
          [ngClass]="{'is-invalid': form.get('email')?.touched && form.get('email')?.invalid}"
        />
        <small *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="error-text">
          Please enter a valid email.
        </small>
      </div>

      <button type="submit"  class="btn-primary">
        Send resent Link
        
      </button>
    </form>

    <div class="message-container" *ngIf="message">
      <p [ngClass]="message.includes('Sent') ? 'success-text' : 'error-text'">{{ message }}</p>
    </div>

    <div class="links center">
      <a routerLink="/login">Back to Login</a>
    </div>
  </div>
</div>  