<div class="auth-wrapper">
  <div class="auth-card">
    <h2>Reset Password</h2>
    
    <p class="subtitle" *ngIf="isTokenValid">Please enter your new password</p>

    <form *ngIf="isTokenValid" [formGroup]="form" (ngSubmit)="submit()">
      
      <div class="input-group">
        <input 
          type="password" 
          placeholder="New Password" 
          formControlName="password" 
          [ngClass]="{'is-invalid': form.get('password')?.touched && form.get('password')?.invalid}" />
        
        <small *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['minlength']" class="error-text">
          Password kam se kam 6 characters ka hona chahiye.
        </small>
      </div>

      <div class="input-group">
        <input 
          type="password" 
          placeholder="Confirm Password" 
          formControlName="confirmPassword" />
      </div>

      <button type="submit" class="btn-primary" [disabled]="form.invalid">
        Reset Password
      </button>
    </form>

    <div class="message-container" *ngIf="message">
        <p [style.color]="message.includes('success') ? '#27ae60' : '#e74c3c'" class="status-message">
          {{ message }}
        </p>
    </div>

    <div *ngIf="!isTokenValid" class="links center">
      <p class="error-text">Link invalid hai ya expire ho chuka hai.</p>
      <a routerLink="/login">Go back to Login</a>
    </div>

  </div>
</div>