/* You can add global styles to this file, and also import other style files */
/* Sabse pehle poore page ki default margin zero karein */
html, body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}